.nav-hamburger-list{
    display: none;
    /* visibility: hidden;
    opacity: 0; */
}

.hamburger-menu-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms linear, visibility 250ms linear;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top:0;
    margin-bottom:0;
}

ul,ol{
    list-style-type: none;
    margin-top:0;
    margin-bottom:0;
    padding-left: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    
    
}

button{
    cursor:pointer;
}

img{
    display:block;
    width: 100%;
}

.container{
    
    width:1158px;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;


}

.container-flex{
    display: flex;

}


body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
}



/*NAVIGATION SECTION*/

.navigation-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   
}

.logo-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    min-width: 130px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
/*     margin-top:24px ;
    margin-bottom:24px ; */
}

.logo-span{

    color: #2e2f42;
}
 
.nav-list{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap: 40px;

    
}

.nav-link{
    color: #2e2f42;
    padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus{
    color:#404bbf;
}

.first-nav-link{
    color: #404bbf;
}

.first-nav-link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    left: 0;
    bottom:-1px;
    border-radius: 2px;
}



.nav-section{
    display: flex;
    align-items: center;
    margin-right: 332px;
/*      width: calc((100%) / 2);
    margin-left: auto;
    margin-right: auto;  */

}

.navigation-ul{
    display: flex;

    gap: 40px;
}


.contact-info{
    font-style: normal;

/*      width: calc((100%) / 2);
    margin-left: auto;
    margin-right: auto;  */

}

.nav-adress{
    display: flex;
    gap: 40px;

}

.contact-list{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    /* height:24px; */
    width: 151px;
 
}

/*CONTACT INFO */

.contact-ref{
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
}

.contact-ref:hover,
.contact-ref:focus{
    color:#404bbf;
}

.intro-section{
    max-width: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), url(../images/people-office.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
     
}

.main-heading{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    
}

.intro-section .primary-btn{
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;

    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: #404BBF;
}

.third-section{
    padding: 120px 0;
}

.third-section-list{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    gap: 24px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    

}


.third-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px;

}

.sec-parag-text{
    font-family:"Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.third-section-class{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-section-title{
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    /**/
}

.third-section-ul{
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
    background-color:#f4f4fd ;

}

.below-footer{
    background: #2e2f42;
    padding: 100px 0;


}

.below-paragraph{
    font-family: "Roboto" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    
}

.below-paragraph-social-media{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        /* max-width: 264px; */
        margin-bottom: 16px;

}

.logo-title-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;

    
}


.logo-span-footer{
    color: #f4f4fd;
}


/*STRATEGY SECTION*/
.strategy-section{
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    /* background-color: red; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.strategy-ul{
    display: flex;
    gap: 24px;
}

.strategy-li-element{
    width: calc((100% -72px)/3);

}

.container-footer{
    width:1158px;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
    
}




.team-info{
    padding: 32px 0;
}


.portfolio-ul-section{
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio-el{
    width: calc((100% - 48px) / 3);
}

.portfolio-container{
    
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.third-section-list{
    width: calc((100% - 72px) / 4);
  
}

/*svg styles*/
.strategy-div-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    padding: 24px 0;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}

.strategy-svg{
/*     width: 64px; 
    height: 64px; */
    
}

.team-div-icons{
    display: flex;
    gap:24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    justify-content: center;
    height: 40px;
}

.team-icon-list{
    width: 40px;
    height: 40px;
}

.div-icon-item{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* display: block; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .div-icon-item:hover,
.div-icon-item:focus{
    background-color: #404bbf;
} 


.team-icon{
    fill:#f4f4fd;
}

.footer-icons{
    display: flex;
    gap: 16px;
    /* margin-top: 16px; */
    justify-content: center;
    height: 40px;

}

.social-links-footer{
    /* margin-left: 120px; */
    min-width: 208px;
}

.left-footer-section{
    margin-right: 120px;
}

.overlay-list{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-list:hover,
.overlay-list:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.overlay-container{
    position: relative;
    overflow: hidden; 
}

.overlay-item{
    position: absolute;
    background: #4d5ae5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    /* transition: transform 250ms ease-in-out; */
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-container:hover .overlay-item{
    transform: translateY(0);
}

.overlay-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}



.footer-icon-list{
        width: 40px;
        height: 40px;
/*         background-color: #4D5AE5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; */
        /* display: block; */
}


.footer-icon-link{
    width: 100%; 
    height: 100%; 
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item{
    fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus{
    background-color:#31D0AA;
}


/*BACKDROP-STYLING*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    visibility: hidden;

    opacity:0;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 24px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}







.backdrop-close-button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    
    
    border-radius: 50%;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #000000;
    transition: fill 250ms linear;
    /* background-color: #262e72; */

    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.icon-close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop-close-button:checked {
    fill: #404BBF;
    stroke: white;
}
 */
.backdrop-close-button:hover,
.backdrop-close-button:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}









.container-form-field{
    margin-bottom: 8px;
}

.form-label-item{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-item{
    width: 100%;
    height: 40px;

}

.backdrop-paragraph{
    
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.container-comment{
    margin-bottom: 16px;
}

.container-policy-field{
    display: flex;
    align-items: baseline;
    gap: 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

    margin-bottom: 24px;
    
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}


/*container of close btn*/


.container-form-field {
    margin-bottom: 8px;
}



.form-label-item {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input-item {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms linear;
    outline: transparent;
    padding-left: 38px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-paragraph {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.container-comment {
    margin-bottom: 16px;
}

.container-policy-field {
    display: flex;
    align-items: baseline;
    gap: 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

    margin-bottom: 24px;

}



.container-input-svg{
    position: relative;
    
}

.review-form-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    stroke: #2E2F42;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-item:focus{
    border: 1px solid #4d5ae5;
}

.input-item:focus ~ .review-form-icon{
    fill: #4D5AE5;
    /* stroke: #4D5AE5; */
}

.input-item-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms linear;
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-item-comment:focus {
    border: 1px solid #4d5ae5;
}

.input-item-comment::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    
    
}

.backdrop-submit-button{
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
}

.privacy-policy-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-link{
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.span-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked ~ .privacy-policy-label
 .span-checkbox{
    background-color:#404BBF ;
    fill: #F4F4FD;
    border: #404BBF;
    border: none;
}

/* .input-checkbox:focus ~ .privacy-policy-label 
.span-checkbox{
    outline: 1px solid #404BBF;
}
 */

.backdrop-submit-button{
    display: block;
    margin: 24px 96px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    min-width: 169px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*                 form-footer                */

.container-form-footer {
    margin-left: 56px;
    
}

.below-paragraph-social-media {

}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-label-item {
    font-weight: 400;
    font-size: 12px;
    

    

}

.footer-input-item {
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-input-item::placeholder{
    color:#ffffff;
}

.footer-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 4px;
    
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    fill: #FFFFFF;
    

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;

    padding: 8px 24px;
}

.footer-svg{
    margin-left: 16px;
}















/*  MOBILE RESPONSIVE    */

@media screen and (min-width:320px) and (max-width:767px) {
    .container-flex{
        display: block;/*як це можливо?*/
    }
    .container {
         max-width: 100%; 
         /* display: block; */
    }

    .nav-adress{
        display: none;
    }


    .nav-list {
        display: none;
        /* justify-content: space-between; */
    }

    .navigation-backdrop-container{
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .nav-section{
        display: flex;
        margin-right: 0;
        width: 100%;
        
        justify-content: space-between;
        align-items: flex-start;
    }

     

    .navigation-ul {

        margin-right: 0;
        
        width: auto; 
        display: flex;
        justify-content: space-around;
        /* margin-right: auto; */
        /* align-items: baseline; */
    }

    .logo-title {
        padding:  16px 0;
        width: 115px;
        margin-right: 0; 
        
    }

    /* .first-nav-link {} */

    .nav-hamburger-list {
        /*         width: 24px;
        height: 24px; */
        padding: 16px 0;
        display: flex;
        align-items: center;
        /* margin-left: 136px; */
        /* margin-right: 16px; */

    }

    .svg-icon-item {
        fill: #2F2F37;


    }

    .intro-section {
        max-width: 100%;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg );
            
 
    }

     

    /* .container-intro{

    } */

    /* .main-heading {}

    .primary-btn {} */


    /*strategy*/

    .strategy-ul{
        display: block;
    }

    .strategy-div-svg{
        display: none;
    }

    .strategy-li-element{
        max-width: 288px;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
    }

    .third-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
    }

    .sec-parag-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
    }

    /*TEAM SECTION*/
    .third-section-ul{
        display: block;
    }
    .third-section-list{
        min-width: 264px;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
    }

    /*OUR PORTFOLIO SECTION*/
    .portfolio-ul-section{
        display: block;
    }
    .portfolio-el{
        width: 288px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    /*footer*/
    .container-footer{
        display:block ;
    }

    .left-footer-section{
        margin-bottom: 72px;
    }
    .social-links-footer{
        margin-bottom: 72px;
    }
    
    .below-paragraph-social-media{
        text-align: center;
    }

    .container-form-footer{
        /* display: block; */
        margin-left: 0;
        flex-wrap: wrap;
    }
    .footer-form{
        display: block;
        
    }

    .below-paragraph{
        margin-left: auto;
        margin-right: auto;
    }



    .below-paragraph-social-media{
        margin-bottom:16px;
    }

    .left-footer-section{
        display: block;
        width: 100%;
        margin-right: 0;

    }

    .logo-title-footer{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }


    .footer-form-label-item .footer-input-item{
        display: block;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-submit-button{
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    /*backdrop          is-open     */


    .backdrop{  
        /* max-width: 320px; */
    }

    .modal{
        max-width: 288px;
    }

    .backdrop-submit-button{
        margin-left: auto;
        margin-right: auto;
    }

    /*hamburger backdrop*/
    .opened{
        opacity: 1;
        visibility: visible;
    }

    /*navigation*/
    .navigation-ul-hamburger{
        display: block;
        /* margin-bottom: 168px; */
    }

    .nav-link-hamburger{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
    }

    .first-nav-link-hamburger{
        color: #404bbf;
    }

    .nav-list-hamburger{
        margin-bottom: 40px;
    }

    .backdrop-close-button-hamburger{
        
        background-color: #E7E9FC;

    
}



    .contact-list-hamburger{
        /* display: block; */
        width: 100%;
        margin-bottom:24px
    }

    .contact-info-hamburger{
        margin-bottom: 48px;
        width: 100%;
    }

    .contact-ref-hamburger-violet{
        width: 200px;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #4d5ae5;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .contact-ref-hamburger{
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #434455;
    }


    .modal-hamburger{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        width: 100%;
        min-height: 100%;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        padding: 24px;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: flex;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav-list-hamburger{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        gap: 40px;

    }

    .contact-list-hamburger{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        /* height:24px; */
        width: 151px;
    }

    .team-div-icons-hamburger{
        
        display: flex;
        justify-content: space-around;
        width: 100%;
        /* gap: 24px; */
        /* margin-left: 16px;
        margin-right: 16px;
        margin-top: 8px; */
        /* width: 100%; */
        
        height: 40px;
    }

    .team-icon-list{
        width: 40px;
        height: 40px ;
    }

    .div-icon-item-hamburger{
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        /* display: block; */
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .div-icon-item-hamburger:hover,
    .div-icon-item-hamburger:focus{
        background-color: #404bbf;
    } 




}












@media screen and (min-width:768px) and (max-width:1167px){
    /*tablet screen responsiveness*/
    .container-flex{
        justify-content: space-around;
    }

    .navigation-header{
        width: 100%;
    }
    .container {
         max-width: 100%; 
         /* display: block; */
         gap: 120px;
    }
    .nav-section{
        justify-content: space-around;
        margin-right: 0;
        gap: 120px;
        /* gap: 120px; */
    }

    .logo-title{
        margin-right: 0;
    }

    .contact-list{
        width: auto;    
    } 

    .navigation-backdrop-container{
         display: block; 
        width: 100%;
        /* margin-top: auto; */
    } 
    



    .contact-ref{
        padding: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        
    }

    .contact-ref-tablet{
        margin-bottom: 12px;
    }

    .nav-adress{
        display: block;
        margin: 12px 0;
    }

    .intro-section {
        max-width: 100%;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg );
            
 
    }

    /*strategy-section*/

    .strategy-ul{
        display: flex;
        width: 100%;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
        }
    .strategy-div-svg{
        display: none;
    }

    .strategy-li-element{
        width: calc((100% - 24px) / 2);
        
    }

    .third-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        text-align: start;
    }

    .sec-parag-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
    }
    

    /*team section*/
    .third-section-ul{
        display: flex;
        width: 100%;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
    }

    .third-section-list{
        width: calc((100% - 24px)/2);
    }
        
    .third-title{
        text-align: center;
    }


    /*team section*/
    .portfolio-ul-section{
        display: flex;
        
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
    }

    .portfolio-el{
        width: calc((100% - 24px)/2);
    }

    .third-title.tablet-styling{
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .sec-parag-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }



    /*footer*/
    .container-footer{
        flex-wrap: wrap;
    }

    .below-paragraph{
        /* text-align: end; */
    }

    .footer-icons{
        justify-content: flex-start;
    }

    .container-footer{
        display: flex;
        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 72px;
        align-items: center;
        
    }

    .left-footer-section{
        display: block;
        margin-right: 0;
        padding-left: 98px;
        /* width: auto; */
        width: calc((100% - 24px)/2);
    }

    .social-links-footer{
        width: calc((100% - 24px)/2);
    }

   


    /* .tablet-flex{
        
    } */

    .container-form-footer{
        /* width: 75%; */
        
        margin-left:0; 
        padding-left: 98px;
        
        /* margin-right: auto;
        margin-left: auto; */
    }

}















































